{% extends "base.html" %}

{% block title %}Call me, maybe?{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<form method="post">
  Dial this number: <input name="number" value="14156943179" />
  Say these words:
  <textarea name="message">Bonjour, ceci est Twilio.</textarea>
  In
  <select name="language">
    <option value="fr">French</option>
    <option value="en">English</option>
  </select>
  <input type="submit" value="Say it on the phone" />
</form>
{% if configuration_error %}
{{ configuration_error }}
{% endif %}
</div>
{% endblock %}
